@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.flex-flow{
		flex-flow: wrap;
	}
	@variants responsive{
		.image-dog::after {
			content: "";
			width: 0;
			height: 0;
			border-bottom: 100vh solid transparent;
			border-left: 30px solid rgba(249, 250, 251, var(--tw-bg-opacity));
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
		}
	}
}